
.travelCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s;
  width: 15em;
}

.travelCard:hover {
  transform: scale(1.03);
}

.travelCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.travelCard h3 {
  color: #333;
  margin: 15px;
}

.travelCard p {
  color: #777;
  font-size: 14px;
  margin: 15px;
  margin-bottom: 3em;
}



.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* 👈 limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardFooter {
  display: flex;
  justify-content: space-between; /* stars on left, heart on right */
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.stars {
  cursor: pointer;
}

.filledStar {
  color: gold;
  font-size: 20px;
}

.emptyStar {
  color: #ccc;
  font-size: 20px;
}

.heart {
  cursor: pointer;
  font-size: 22px;
  color: #ccc;
  transition: color 0.3s;
}

.heart.fav {
  color: red;
}

