/* Define default (light theme) variables */
:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* Define dark theme variables */
:root[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

/* Body and HTML Styling */
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-lato), sans-serif; /* Default font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Headings Styling */
h1,
h2,
h6 {
    font-family: var(--font-playfair), serif; /* Use Playfair Display for headings */
    color: #828282;
    font-weight: 400;
}

/* Universal Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Link Styling */
a {
    color: inherit;
    text-decoration: none;
}

/* Ensure proper color scheme handling for manual theme switching */
html {
    color-scheme: var(--foreground);
}

