/* page.module.css */

/* Container for the entire page */
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* page.module.css */

/* page.module.css */
