.addBookContainer {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff; /* Default light mode background */
    color: #212020; /* Default light mode text color */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.darkMode .addBookContainer {
    background-color: #333333; /* Dark mode background */
    color: #ffffff; /* Dark mode text color */
}


.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: inherit; /* Inherit color from the container */
    transition: transform 0.2s ease;
}

.closeButton:hover {
    transform: scale(1.2);
}

.header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: inherit; /* Inherit color from the container */
    transition: color 0.3s ease;
}
