.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  transition: var(--transition);
}

.searchForm {
  width: 100%;
}

.searchInputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.searchInput {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  font-family: var(--font-lato), sans-serif;
  font-size: 0.9rem;
  background-color: var(--background);
  color: var(--foreground);
  transition: var(--transition);
}

.searchInput:focus {
  outline: none;
  border-color: #9f8a9d;
}

.contentContainer {
  display: flex;
  gap: 2rem;
  height: calc(100% - 60px);
}

.filterSection {
  width: 180px;
  flex-shrink: 0;
  background-color: transparent;
  padding: 0.75rem;
  height: fit-content;
}

.error {
  color: #dc3545;
  padding: 0.75rem;
  margin: 1rem 0;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #dc3545;
}

.resultsSection {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .filterSection {
    width: 100%;
    order: -1;
  }

  .searchInputs {
    flex-direction: column;
  }

  .searchButton {
    width: 100%;
  }
}
