.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 10px;
  margin: 0 auto 2em auto;  /* auto left/right centers it */
  max-width: 1200px; /* prevents it from stretching full width */
}


.exploreBtn {
  background-color: #549262;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 0 auto 2em auto;  /* auto left/right centers it */
  padding: 10px;
  cursor: pointer;
  font-size: 1.1em;
  display: block;
text-decoration: none;
}