.container {
  max-width: 1200px;
  text-align: center;
  font-family: "Archivo", sans-serif;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.sectionWrapper {
  margin-bottom: 3rem;
}

.plannerSection {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2rem;
  margin: 0 0 8px 0;
}

.description {
  color: gray;
  font-style: italic;
}

@media (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
