.addBookContainer {
  text-align: center;
}

.searchInput {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.resultsContainer {
  margin-top: 20px;
}

.resultsList {
  list-style-type: none;
  padding: 0;
}

.resultItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.bookImage {
  width: 50px;
  height: 75px;
  object-fit: cover;
}

.addButton {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #d5b4b4; /* Green background */
  color: #867070;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #e4d0d0;
}

.addButton:disabled {
  background-color: #aaa; /* Grey out the button when disabled */
  cursor: not-allowed;
}

.bookDetails {
  flex: 1;
  padding-left: 10px;
}
