.bookshelf {
    padding: 20px;
    background-color: #f5ebeb;
    border-radius: 8px;
}

.bookshelfHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookshelfSection {
    margin-top: 20px;
}

.bookshelfImages {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.bookImage,
.addBookButton {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.bookshelf p {
    padding: 15px;
    font-size: 1.2em;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    height: 500px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds 500px */
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
