.profileDetails {
    padding: 20px;
    background-color: #f5ebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profileDetails .imageContainer {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profileDetails .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileDetails .userDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    text-align: left;
}

.profileDetails .userDetailsContainer div {
    padding: 5px;
    color: #666;
}

.profileDetails .userDetailsContainer div strong {
    padding: 5px;
    color: #000;
}

.profileDetails .userDetailsContainer ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
}

.profileDetails .userDetailsContainer ul li {
    font-size: 1rem;
    color: #666;
}
