.quoteContainer {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f5ebeb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.quoteImageContainer {
    width: 100px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteImage {
    width: 100%;
    object-fit: cover;
}

.quoteContent {
    flex-grow: 1; /* Let the content take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
}

.quoteText {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
    word-wrap: break-word; /* Allow text to break if too long */
    overflow-wrap: break-word; /* Ensure long words break if necessary */
}

.bookTitle,
.author {
    font-size: 1rem;
    color: #555;
}

.bookTitle {
    font-weight: bold;
}

.author {
    margin-top: 5px;
}
