.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn {
    background-color: #f5ebeb;
    padding: 40px 20px;
    text-align: center;
    margin: 50px 0 0 0;
    width: 970px;
}

.signInTitle {
    font-size: 2rem;
    margin-bottom: 10px;
}

.signInDescription {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #333;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.benefitsTitle {
    font-size: 1.5rem;
    margin: 20px 0;
}

.benefitsList {
    list-style-type: none;
    padding: 0;
    color: #333;
    text-align: left;
}
