.navbar {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 1.7rem;
  color: #13c892;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  text-decoration: none;
  color: #252424;
  font-weight: 450;
  font-size: 1.05rem;
}
.menu a:hover,
.menu a.active {
  color: #13c892;
  text-decoration-line: underline;
}

.authBtn button {
  background-color: #13c892;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.authBtn button:hover {
  transform: scale(1.1);
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.bar,
.barOpen {
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: 0.3s;
}

/* Mobile menu */
.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobileAuthBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.mobileAuthBtn:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .menu,
  .authBtn {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
