.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
}
.bar {
  width: 28px;
  height: 4px;
  background: #38bdf8;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}
.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.open .bar:nth-child(2) {
  opacity: 0;
}
.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 600px) {
  .burger {
    display: flex;
  }
}
